/* Pon tu código css aqui */

.contenedor {
	width:700px;
	border:1px solid black; 
}
.amarillo {
	width:200px;
	height:150px;
	background-color:#FCE524;
	float:left;

}
.azul {
	width:200px;
	height:150px;
	background-color:#1497E2;
	float:left;

}
.rosado {
	width:200px;
	height:150px;
	background-color:#EA058C;
	float:left;
}